.App {
    display: flex;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Vertically center the content */
    margin-left:200px; /* Add margin to separate the Dashboard from the rest */
  }
  